body {
    font-family: Arial, sans-serif;
  }
  
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

#navDelicious {
    font-family: "bello-pro", sans-serif;
    font-size: 5vw;
    font-weight: 400;
    font-style: normal;
}

#navPhrase {
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    font-size: 1vw;
    margin-top: 0;
}

#SocialMediaIcons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#SocialMediaIcons li {
    display: inline-block;
    margin-left: 10px; 
}

#SocialMediaIcons li:first-child {
    margin-left: 0; 
}
#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    color: black;
}

.divider {
    width: 100%;
    height: 50px; 
    background: linear-gradient(45deg, transparent 10%, black 10%, black 20%, transparent 20%);
  }
  
  .divider::after {
    content: '';
    display: block;
    width: 100%;
    height: 10px; 
    background: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%);
  }


main {
    width: 80%;
    margin: 0 auto;
  }
  
article {
    margin: 20px 0;
  }
  
article h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.date-posted {
    color: grey;
    font-size: 0.85em;
  }
  
.recipe-image {
    margin: 20px 0;
  }
  
.recipe-instructions {
    white-space: pre-line;
    text-indent: 3em; 
    font-family: 'Times New Roman', Times, serif;
    color: rgb(127, 127, 127);
    white-space: pre-line;
}
  
.ingredients {
    margin: 20px 0;
    position: relative;
}

.ingredient-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    list-style-type: none;
    text-align: center; 
}

.ingredient-list li {
    margin: 10px 0; 
}

.recipe-background {
    display: block;
    width: 100%;
    height: auto;
}
  
  
.my-button {
    background-color: #b65050; 
    border: none; 
    color: white;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
  }
  
  .my-button:hover {
    background-color: #7b4545; 
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
